
body{
    padding:0;
    margin:0;
    background-color:#ffffff;
}
header{
    min-height: 60px;
}
.top-nav{
    overflow: hidden;
    margin: auto;
    width: 80%;
}

nav{
    float: right;
    margin-top: 10px;
}

li{
    display: inline-block;
    padding: 0 20px;
    float: left;
}

header a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
    

}

